shared/home/.emacs.d/eln-cache
shared/home/.emacs.d/elpa
shared/home/.emacs.d/auto-save-list
shared/home/.emacs.d/transient
shared/home/.emacs.d/session*
shared/home/.emacs.d/tramp
shared/home/.emacs.d/eshell
shared/home/.emacs.d/bookmarks
shared/home/.emacs.d/nov-places
shared/home/.emacs.d/projects
shared/home/.emacs.d/.org*
shared/home/.emacs.d/custom.el

